<div class="ticker-bar ticker-2">
    {{ 'ticker-2.svg' | asset_url | img_tag }}
    <span><ly-as-109665>Über unsere Familie</ly-as-109665></span>
</div>

<style>
    .ticker-bar img {
        height: 40px;
    }

    .ticker-2 {
        padding: 10px 0;
    }

    .ticker-2 span {
        vertical-align: top;
        padding-left: 15px;
        line-height: 40px;
    }
</style>