<a name="pagecontent" id="pagecontent"></a>
<div class="index-sections">
  {{ content_for_index }}
</div>
{% include 'judgeme_widgets', widget_type: 'judgeme_featured_carousel', concierge_install: true, auto_install: true %}